@font-face {
  font-family: "Inter";
  src: url(../Inter/Inter-Medium.ttf);
}

// varriables
$primary: #4b83f2;
$accent-color: black;
$primary-600: #918cba;
$primary-400: #bfb8f3;
$white: #f8f8fa;
$border-radius: 32px;
$border-radius-sm: 16px;
//screen sizes
$mobile: 425px;
$tablet: 768px;

* {
  color: black;
}
body {
  font-family: "Inter";
  overflow-x: hidden;
  background-color: $white;
}

.navigation {
  padding-block: 0.125rem;
  // background-color:$silver ;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px !important;

  .nav-link {
    color: black;
    position: relative;
    padding: 0px !important;
    margin: 8px;

    &.active:after {
      content: "";
      width: 90%;
      margin-inline-start: 5%;
      background: black;
      height: 2px;
      position: absolute;
      border-radius: 16px;
      top: 100%;
      left: 0;
    }
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;

  img.logo {
    width: 55px;
  }

  .site-title {
    margin-left: 1rem;
    margin-bottom: 0px;
  }
}

@media (max-width: $mobile) {
  .navigation .site-title {
    display: none;
  }
}

.nav-item {
  margin-inline-start: 0.75rem;

  &.button button {
    scale: 0.9;
  }
}

button {
  background-color: $primary;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: $border-radius;
  color: black;
  width: max-content;

  .fa-solid {
    padding-inline: 0.35rem;
    rotate: -45deg;
    transform: translate(-1px);
    scale: 1;
    transition: scale 200ms;
  }

  &:hover {
    .fa-solid {
      scale: 1.3;
      transition: scale 200ms;
    }
  }

  &.bordered {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;
  }
}

$section-padding: 4rem;

.section {
  padding-block: $section-padding;

  &.top {
    padding-block-start: $section-padding;
    padding-block-end: 0px;
  }

  &.bottom {
    padding-block-start: 0px;
    padding-block-end: $section-padding;
  }
}

.header {
  .carousel-inner {
    .carousel-caption {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      p {
        color: white;
      }
    }

    img {
      height: 85vh;
      object-fit: cover;
      filter: brightness(70%);
    }
  }
}

.icon-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 20rem;
  min-height: 1rem;

  img {
    width: 75px;
    margin: 0.5rem;
  }

  h3 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 0.95rem;
  }
}

@media (max-width:$mobile) {
    .icon-box{
        padding-inline: 0px;
    }
}

.why-choose-us {
    .img-wrapper{
        position: relative;
        z-index: 100;
        // &::after {
        //   content: "";
        //   background: rgba(157, 156, 156, 0.895);
        //   position: absolute;
        //   top: 10%;
        //   left: -5%;
        //   width: 100%;
        //   height: 100%;
        //   z-index: 1;
        // }
    }
  .illustration {
    width: 100%;
    height: 100%;
    filter: brightness(90%);
    box-shadow: -40px 20px 0px rgb(189, 189, 189);
    z-index: 10;
    position: relative;
  }

  ul {
    padding-left: 0px;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;

    img {
      margin-right: 1rem;
    }
  }
}

.navbar-toggler {
  background: transparent !important;
  border: none;

  span {
    background-image: url(../assets/icons/menu.png) !important;
  }

  &:focus {
    box-shadow: none;
    border: none;
  }

  &[aria-expanded="true"] {
    span {
      background-image: url(../assets/icons/close.png) !important;
    }
  }
}



footer {
  background: linear-gradient($primary, rgba(92, 92, 154, 0.996));
  color: white !important;

  .navbar-brand {
    justify-content: flex-start;
    color: white;
    &:hover {
      color: white;
    }
  }

  h4 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: white;
  }

  ul {
    padding-left: 0px;
    list-style: none;
    color: white;
  }

  li {
    padding-bottom: 0.5rem;
    // @include hover-accent-color();
    cursor: pointer;
    color: white;
  }

  .payments {
    .col-lg-4 {
      padding-inline: 1.5rem;
      padding-block: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.25rem;
    }
  }
}

.rounded-sm {
  border-radius: 8px;
}

.social-icons {
  display: flex;
  gap: 1rem;

  .fa-brands {
    font-size: 1.25rem;
    color: white;

    &:hover {
      color: white;
    }
  }
}
.copyright p {
  color: white !important;
}

.hero-image {
  position: relative;
  width: 100vw;
  height: 250px;
  z-index: 10;
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    z-index: 5;
    display: block;
    filter: brightness(85%);
  }
}

@media (max-width: 500px) {
  .hero-image {
    height: max-content;
  }
}

.hero-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: white;
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: none;
}

.what-we-do {
  ul {
    padding-left: 0px;
    list-style: none;
    p {
      margin-bottom: 0px;
    }
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
  .fa-check {
    margin-right: 1rem;
    scale: 1.1;
  }
}

.heading {
  text-transform: capitalize;
  margin-bottom: 1.5rem;  
  font-size: 2rem;
  margin-top: 1rem;
}
.Faqs {
  .card {
    border: none;
    background-color: white;
  }
  .card-header {
    border: none;
    background-color: white;
    &:has(.btn.collapsed) {
      border: none;
      border-bottom: $primary 2px solid;
      border-radius: 0.375rem;
    }
  }
  .card-body {
    background-color: white;
    border-radius: 0.375rem;
    border-bottom: $primary 2px solid;
  }
}

.btn,
.btn.collapsed {
  outline: none;
  border: none;
  &:active {
    outline: none;
    border: none;
  }
}

.team {
  .col-lg-3 {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    .content {
      position: absolute;
      bottom: 0;
      color: white;
      p {
        text-align: center;
        color: white;
        text-shadow: 0px 0px 20px black;
      }
      h4 {
        text-shadow: 0px 0px 20px black;
        text-align: center;
      }
    }
  }
  img {
    min-width: 10rem;
    max-width: 20rem;
    width: 100%;
    aspect-ratio: 9/16;
    object-fit: cover;
  }
}

.hero-image{
  .hero-text a{
    text-shadow: 0px 0px 20px black;
  }
}

.contact-form{
  input{
    padding: 1rem;
    border-color: rgb(130, 130, 130) !important;
  }
  textarea{
    border-color: rgb(130 , 130, 130) !important;

  }
}

.services-template{
  img{
    width: 100%;
  }
}