@font-face {
  font-family: "Inter";
  src: url(../Inter/Inter-Medium.ttf);
}
* {
  color: black;
}

body {
  font-family: "Inter";
  overflow-x: hidden;
  background-color: #f8f8fa;
}

.navigation {
  padding-block: 0.125rem;
}

.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px !important;
}
.navbar-nav .nav-link {
  color: black;
  position: relative;
  padding: 0px !important;
  margin: 8px;
}
.navbar-nav .nav-link.active:after {
  content: "";
  width: 90%;
  -webkit-margin-start: 5%;
          margin-inline-start: 5%;
  background: black;
  height: 2px;
  position: absolute;
  border-radius: 16px;
  top: 100%;
  left: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-brand img.logo {
  width: 55px;
}
.navbar-brand .site-title {
  margin-left: 1rem;
  margin-bottom: 0px;
}

@media (max-width: 425px) {
  .navigation .site-title {
    display: none;
  }
}
.nav-item {
  -webkit-margin-start: 0.75rem;
          margin-inline-start: 0.75rem;
}
.nav-item.button button {
  scale: 0.9;
}

button {
  background-color: #4b83f2;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.75rem;
  border-radius: 32px;
  color: black;
  width: -moz-max-content;
  width: max-content;
}
button .fa-solid {
  padding-inline: 0.35rem;
  rotate: -45deg;
  transform: translate(-1px);
  scale: 1;
  transition: scale 200ms;
}
button:hover .fa-solid {
  scale: 1.3;
  transition: scale 200ms;
}
button.bordered {
  background-color: transparent;
  border: 1px solid #4b83f2;
  color: #4b83f2;
}

.section {
  padding-block: 4rem;
}
.section.top {
  -webkit-padding-before: 4rem;
          padding-block-start: 4rem;
  -webkit-padding-after: 0px;
          padding-block-end: 0px;
}
.section.bottom {
  -webkit-padding-before: 0px;
          padding-block-start: 0px;
  -webkit-padding-after: 4rem;
          padding-block-end: 4rem;
}

.header .carousel-inner .carousel-caption {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.header .carousel-inner .carousel-caption p {
  color: white;
}
.header .carousel-inner img {
  height: 85vh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
}

.icon-box {
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: start;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 20rem;
  min-height: 1rem;
}
.icon-box img {
  width: 75px;
  margin: 0.5rem;
}
.icon-box h3 {
  margin-bottom: 1rem;
}
.icon-box p {
  font-size: 0.95rem;
}

@media (max-width: 425px) {
  .icon-box {
    padding-inline: 0px;
  }
}
.why-choose-us .img-wrapper {
  position: relative;
  z-index: 100;
}
.why-choose-us .illustration {
  width: 100%;
  height: 100%;
  filter: brightness(90%);
  box-shadow: -40px 20px 0px rgb(189, 189, 189);
  z-index: 10;
  position: relative;
}
.why-choose-us ul {
  padding-left: 0px;
}
.why-choose-us li {
  list-style: none;
  display: flex;
  align-items: center;
}
.why-choose-us li img {
  margin-right: 1rem;
}

.navbar-toggler {
  background: transparent !important;
  border: none;
}
.navbar-toggler span {
  background-image: url(../assets/icons/menu.png) !important;
}
.navbar-toggler:focus {
  box-shadow: none;
  border: none;
}
.navbar-toggler[aria-expanded=true] span {
  background-image: url(../assets/icons/close.png) !important;
}

footer {
  background: linear-gradient(#4b83f2, rgba(92, 92, 154, 0.996));
  color: white !important;
}
footer .navbar-brand {
  justify-content: flex-start;
  color: white;
}
footer .navbar-brand:hover {
  color: white;
}
footer h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: white;
}
footer ul {
  padding-left: 0px;
  list-style: none;
  color: white;
}
footer li {
  padding-bottom: 0.5rem;
  cursor: pointer;
  color: white;
}
footer .payments .col-lg-4 {
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
}

.rounded-sm {
  border-radius: 8px;
}

.social-icons {
  display: flex;
  gap: 1rem;
}
.social-icons .fa-brands {
  font-size: 1.25rem;
  color: white;
}
.social-icons .fa-brands:hover {
  color: white;
}

.copyright p {
  color: white !important;
}

.hero-image {
  position: relative;
  width: 100vw;
  height: 250px;
  z-index: 10;
  display: inline-block;
}
.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: none;
  z-index: 5;
  display: block;
  filter: brightness(85%);
}

@media (max-width: 500px) {
  .hero-image {
    height: -moz-max-content;
    height: max-content;
  }
}
.hero-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: white;
  text-transform: uppercase;
}

a {
  color: white;
  text-decoration: none;
}

.what-we-do ul {
  padding-left: 0px;
  list-style: none;
}
.what-we-do ul p {
  margin-bottom: 0px;
}
.what-we-do ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.what-we-do .fa-check {
  margin-right: 1rem;
  scale: 1.1;
}

.heading {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  margin-top: 1rem;
}

.Faqs .card {
  border: none;
  background-color: white;
}
.Faqs .card-header {
  border: none;
  background-color: white;
}
.Faqs .card-header:has(.btn.collapsed) {
  border: none;
  border-bottom: #4b83f2 2px solid;
  border-radius: 0.375rem;
}
.Faqs .card-body {
  background-color: white;
  border-radius: 0.375rem;
  border-bottom: #4b83f2 2px solid;
}

.btn,
.btn.collapsed {
  outline: none;
  border: none;
}
.btn:active,
.btn.collapsed:active {
  outline: none;
  border: none;
}

.team .col-lg-3 {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.team .col-lg-3 .content {
  position: absolute;
  bottom: 0;
  color: white;
}
.team .col-lg-3 .content p {
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px black;
}
.team .col-lg-3 .content h4 {
  text-shadow: 0px 0px 20px black;
  text-align: center;
}
.team img {
  min-width: 10rem;
  max-width: 20rem;
  width: 100%;
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-image .hero-text a {
  text-shadow: 0px 0px 20px black;
}

.contact-form input {
  padding: 1rem;
  border-color: rgb(130, 130, 130) !important;
}
.contact-form textarea {
  border-color: rgb(130, 130, 130) !important;
}

.services-template img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */